<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <footer>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.6117451460773!2d6.953784016010538!3d51.207805440384526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8cdf5c44673e7%3A0x5f3d7338a3757835!2sPan%20Michael%20Dr.!5e0!3m2!1sen!2spt!4v1643127737691!5m2!1sen!2spt"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="footer-info-container">
            <div class="contact-container">
                <table>
                    <tr>
                        <th>Wichtige Links</th>
                    </tr>
                    <tr>
                        <td>Impressum</td>
                    </tr>
                    <tr>
                        <td>Datenschutz</td>
                    </tr>
                </table>
            </div>
            <div class="opening-hours-container">
                <table>
                    <tr>
                        <th>Sprechzeiten</th>
                    </tr>
                    <tr>
                        <td>Montag</td>
                        <td>8 - 12 Uhr, 15 - 18 Uhr</td>
                    </tr>
                    <tr>
                        <td>Dienstag</td>
                        <td>8 - 12 Uhr, 15 - 18 Uhr</td>
                    </tr>
                    <tr>
                        <td>Mittwoch</td>
                        <td>8 - 12 Uhr</td>
                    </tr>
                    <tr>
                        <td>Donnerstag</td>
                        <td>8 - 12 Uhr, 15 - 18 Uhr</td>
                    </tr>
                    <tr>
                        <td>Freitag</td>
                        <td>8 - 12 Uhr</td>
                    </tr>
                </table>
            </div>
            <div class="contact-container">
                <table>
                    <tr>
                        <th>Kontakt</th>
                    </tr>
                    <tr>
                        <td><img src="/img/icons/phone-call.png"></td>
                        <td>02104 / 41545</td>
                    </tr>
                    <tr>
                        <td><img src="/img/icons/location-2.png"></td>
                        <td>Hochdahler Markt 15 <br>40699 Erkrath-Hochdahl</td>
                    </tr>
                    <tr>
                        <td><img src="/img/icons/linkedin.png"></td>
                        <td>praxisdrpan</td>
                    </tr>
                </table>
            </div>
        </div>

    </footer>
</body>

</html>