<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="/script.js"></script>
</head>

<body>
    <div class="no-overflow">
        <nav>
            <img onclick="showMobileMenu()" id="menu-icon" class="menu-icon" src="/img/icons/menu.png">
            <a href="index.html"><img href="home.html" src="/img/logo.png"></a>
            <div class="menubar">
                <a href="/index.html">Home</a>
                <a href="/team.html">Team</a>
                <a href="/services.html">Leistungen</a>
                <a href="/contact.html">Kontakt & Anfahrt</a>
            </div>
        </nav>
        <!-- mobile navbar -->

        <div id="mobile-nav" class="mobile-nav">
            <div class="mobile-menubar">
                <a href="/index.html">Home</a>
                <a href="/team.html">Team</a>
                <a href="/services.html">Leistungen</a>
                <a href="/contact.html">Kontakt & Anfahrt</a>
            </div>
        </div>
    </div>

</body>

</html>